
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif;
  background: white;
  color: gray;
  line-height: 1.5;
  font-size: 0.875rem;
}
img{
  width: 20px;
  align-items: flex-start;
  height:50%;
}